.button_div:hover{
    background: purple !important;
    color: azure    ;
}
.button2_div:active{
    background: black !important;


}
.button2_div{
    margin-right: 10px;
}
.button_div{
    margin-bottom: 10px;
}